//
   Created by crimmings on 1/6/16.

extends layout

block content
    h1= title
    h2 Request Details





    if(typeof msg !== 'undefined')
        if(!!err)
            div(class='msgbox err') #{msg}
        else
            div(class='msgbox success')
                h3= msg
                h3= babysitters
                h3= when
                h3= time
                h3= where
                h3= details


